page-splash {
  ion-content {
    background-image: url('../assets/title_bg.png');

    div {
      padding: 50px !important;

      div {
        height: 100%;
        width: 100%;
        background-image: url('../assets/title_fg.jpg');
        background-size: auto 100%;
        background-position: center bottom;
        border-radius: 10px;
				text-align: center;
				box-shadow: inset 0px 0px 40px 10px black;

        h1 {
					font-family: '8BITWONDERNominal';
          text-align: center;
          font-size: 40px;
					color: white;
					text-shadow: 8px 8px 1px black;
        }
				button {
					width: auto;
					background-color: transparent;
					border: 0;
					font-family: '8BITWONDERNominal';
					font-size: 30px;
					color: white;
					text-shadow: 5px 5px 1px black;
					margin-top: 300px;
				}
				footer {
					position: absolute;
					bottom: 0px;
					left: 0px;
					padding: 100px;
					padding-bottom: 85px;
					width: 100%;
					text-align: center;
					font-size: 30px;
					color: #16ecfa;
					text-shadow: 4px 4px 1px black;
					font-family: '8BITWONDERNominal';
				}
      }
    }

  }
}
