@keyframes arwingFlip {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1, -1);
	}
	100% {
		transform: scale(1, 1);
	}
}
page-menu {
	ion-content {
		background-image: url('../assets/menu_bg.gif');
		> div {
			text-align: center;

			> ul {
				display: inline-block;
				color: #14004b;
				width: 400px;
				text-align: center;
				margin-top: 35vh;
				padding: 0;
				list-style-type: none;
				> li:hover {
					cursor: pointer;
				}
				> li {
					background-color: #909090;
					margin-bottom: 20px;
					padding-top: 10px;
					padding-bottom: 10px;
					margin-bottom: 20px;
					font-size: 30px;
					font-weight: bold;
					text-align: center;
					box-shadow: inset -20px 0px 40px black;
					border-radius: 5px;
					img:nth-child(1) {
						display: none;
						position: relative;
						right: 160px;
						width: 65px;
						height: 25px;
						animation-name: arwingFlip;
						animation-direction: normal;
						animation-duration: 4s;
						animation-iteration-count: infinite;
						animation-timing-function: linear;
					}
					img:nth-child(2) {
						display: none;
						position: relative;
						left: 160px;
						width: 65px;
						height: 25px;
						animation-name: arwingFlip;
						animation-direction: normal;
						animation-duration: 4s;
						animation-iteration-count: infinite;
						animation-timing-function: linear;
					}
				}
				> li:hover img {
					display: inline-block;
				}
			}
		}
	}
}
